extends layout

block content
  h1= title
  ul
    li= singleData.first
    li= singleData.last
    li= singleData.email
    li= singleData.note
    li Last Update: #{singleData.date}
  ul
  a(href='/temp') View All
  | 
  a(href=`/temp/${singleData.id}/update`) Update
  | 
  a(href=`/temp/${singleData.id}/delete`) Delete