extends layout

block content
  h1= title
  hr
  p.single You are now viewing a single contact.
  ul.singleContact
    li.singleName First:
      li.sData #{singleData.first}
    li.singleName Last:
      li.sData #{singleData.last}
    li.singleName Email:
      li.sData #{singleData.email}
    li.singleName Notes:
      li.sData #{singleData.note}
    li.singleName Last Update:
      li.sData #{singleData.date}
  ul
  hr
  a.link(href='/temp') View All
  | 
  a.link(href=`/temp/${singleData.id}/update`) Update
  | 
  a.link(href=`/temp/${singleData.id}/delete`) Delete