extends layout

block content
  h1= title
  p Use this form to edit this data.
  hr
  if msg
    p(class='readText')= msg
  form(method='POST', action=`/temp/${temp.id}/update`)
    label First Name:
      input(type='text', name='tempFirst', value=temp.first, required)
    | 
    label Last Name:
      input(type='text', name='tempLast', value=temp.last, required)
    | 
    label Email:
      input(type='text', name='tempEmail', value=temp.email)
    | 
    label Comments/Notes:
      input(type='textarea', name='tempNote', value=temp.note)
    | 
    button(type='submit') Save Changes
    | 
    a(href=`/temp/${temp.id}`) Cancel