extends layout

block content
  h1= title
  hr
  p.temp Currently viewing all existing contacts.
  p.temp From here, click on the contact box that you would like additional information on or you wish to make changes to.
  a.link(href='/temp/add') Add Contact
  hr
  if temp.length > 0
    #temp-wrapper
      each val in temp
        a.solo(href=`/temp/${val.id}`): ul.temp-list
          li First:
            li.attr= val.first
          li Last:
            li.attr= val.last
          li Email:
            li.attr= val.email